<h1>Pages#batman-vs-superman</h1>
<p>Find me in app/views/pages/batman-vs-superman.html.erb</p>
<%= link_to image_tag("8cznKKj9i.png", class: "mi-imagen", id: "super1"), pages_superman_path %>
<%= link_to image_tag("SEP10555.png", class: "mi-imagen", id: "bat1"), pages_batman_path %>